<div class="row">
  <div class="col-md-6 team">
    <h2>The Team</h2>
    <%= image_tag "aloha.jpg", :class => "image" %>
    <h5><em>2017 Off-Site in Hawaii<em></h5>
    <p>Co-Founders</p>
  </div>
  <div class="col-md-6">
    <h2>Our Story</h2>
    <p>I Love Layovers(TM) was founded by Masen and Katie on a rainy day in Portland, OR. These ambitious coders-in-training had a vision and set out to fuffil it. Average travel sites were all the same - they offered too many convienent options at too many low price points. Why would anybody want to suffer through the monotony of "just another travel experience"? Why should anybody conform to the standard of airline booking?</p>
    <br>
    <p>This project was started for the ambitious travellers in all of us. The travellers that care more about the trip than the destination. The ones who find small pleasures in dirty airport bathrooms and screaming babies on airplanes. It's for those of us who don't really care that we're stuck in a giant metal tube where our pores are permeated with the mouth-breathed steam of those around us. If you like adventure, I Love Layovers(TM) is here for you.</p>
  </div>
</div>
