@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

.findflight {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

h1 {
  text-align: center;
  font-size: 60px;
 background: -webkit-linear-gradient(#ad5389, #3c1053);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: 'Pacifico', cursive;

}

h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.image {
  width: 300px;
  border-radius: 5%;
}
.team {
  text-align: center;
}
.intern {
  text-align: center
}
.bio {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.values {
  text-align: center;
}
.form {
  width:50%;
  text-align:center;
}
.add {
  height: 600px;
  text-align: center;
}

.butt {
  max-height: 50px;
}
