.row {

}

.add {
  width: 30%;
  height: 400px;
  display: inline-grid;
  margin: 10px;
}

.product-grid {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.btn.btn-primary {
  display: block;
  margin: 0 auto;
}

.checkout {
  display:block;
  margin: 0 auto;
  text-align:center;
}

.navbar-left {
  right: 0%;
  position: absolute;

}
